# Arquivos de Ambiente / Segredos
.env*

# IDEs gerais (VS Code, Eclipse, IntelliJ, Sublime)
.settings/
.classpath
.project
.factorypath
.vscode/
.idea/
*.iml
*.iws
*.ipr
*.sublime-project
*.sublime-workspace
.apt_generated
.springBeans
.sts4-cache

# Frontend (Next / Node)
.next/
node_modules/

# Sistema Operacional e Logs
.DS_Store
Thumbs.db
*.log
