
        body{
            margin: 0;        
        }
       header{
            background-color: rgba(89, 24, 24, 0.825);
            height: 50px;
            padding: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        
        header figure{
            margin: 0;
        }

        header figure img{
            width: 60px;   
            height: 60px;  
        }
       a{
        color: white;
       }
        
        
       